<ion-view title="Profile" id="page8" style="background-color:#2FCFB0;">
    <ion-content padding="true" class="has-header" ng-app='app' ng-controller='ProfileCtrl'>
        <a ui-sref="interactiveQuizApplication.updateProfile" id="profile-button6" style="border-radius:24px 24px 24px 24px;" class="button button-dark  button-block">Update Profile</a>
        <div class="list card" id="profile-card21" data-ng-init='user_profile()'>
            <ion-item id="profile-list-item7">{{user_email_id}}</ion-item>
            <ion-item id="profile-list-item8">{{user_phone_num}}</ion-item>
            <ion-item id="profile-list-item6">{{user_name}}</ion-item>
        </div>
        <div class="spacer" style="width: 300px; height: 0px;"></div>
        <div class="list card" id="profile-card22">
            <div class="item item-body" id="profile-list-item-container2">
                <div id="profile-markdown2" style="color:#000000;font-size:24px;">
                    <p style="margin-top:0px;">Number of Exams taken
                        <strong>: 1</strong>
                    </p>
                </div>
                <div id="profile-markdown4" style="color:#000000;font-size:24px;">
                    <p style="margin-top:0px;">
                        <strong>For results click on below links</strong>
                    </p>
                </div>
                <ion-list id="profile-list7" data-ng-init='resultLine()'>
                    <ion-item class="item-icon-left" id="profile-list-item10" ui-sref="interactiveQuizApplication.results">
                        <i class="icon ion-ios-folder-outline"></i>Quiz on C  <font color ='red'>{{score}} </font>   <font color='orange'>{{getDatetime | date:'medium'}} </font> </ion-item>
                        <!--date will be give clearlly here and need to get score-->
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>
