<ion-view title="Quiz" hide-back-button="true" id="page9" style="background-color:#2FCFB0;">
    <ion-content padding="true" class="has-header" ng-app='app' ng-controller='SpeechCtrl'>
        <h3 id="quiz-heading2" style="color:#221919;" ng-click='speakText("quiz-heading2")'><span>Which of the following variable cannot be used by&nbsp;switch-case&nbsp;statement? </span></h3>
        <div class="spacer" style="width: 300px; height: 4px;"></div>
        <div class="list card" id="quiz-card29">
            <form id="quiz-form17" class="list">
                <ion-radio id="quiz-radio17" ng-click='speakText("quiz-radio17")'>Char</ion-radio>
                <ion-radio id="quiz-radio18" ng-click='speakText("quiz-radio18")'>Int</ion-radio>
                <ion-radio id="quiz-radio19" ng-click='speakText("quiz-radio19")'>Float</ion-radio>
                <ion-radio id="quiz-radio20" ng-click='speakText("quiz-radio20")'>Double</ion-radio>
            </form>
        </div>
        <div class="spacer" style="width: 300px; height: 5px;"></div>
        <div id="quiz-button-bar3" class="button-bar">
            <button id="quiz-button15" style="border-radius:24px 24px 24px 24px;" class="button button-dark  button-block">Next</button>
            
            <button ui-sref="scribble" id="quiz-button16" style="border-radius:24px 24px 24px 24px;" class="button button-dark  button-block">Scribble</button>
            
            <a ui-sref="interactiveQuizApplication.profile" id="quiz-button5" style="border-radius:24px 24px 24px 24px;" class="button button-dark  button-block">Submit</a>
        </div>
    </ion-content>
</ion-view>