<ion-view title="Profile" id="page8" style="background-color:#2FCFB0;">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="profile-card21">
            <ion-item id="profile-list-item6">admin</ion-item>
            <ion-item id="profile-list-item7">admin@gmail.com</ion-item>
            <ion-item id="profile-list-item8">816 777 8888</ion-item>
        </div>
        <div class="spacer" style="width: 300px; height: 0px;"></div>
        <div class="list card" id="profile-card22">
            <div class="item item-body" id="profile-list-item-container2">
                <div id="profile-markdown2" style="color:#000000;font-size:24px;">
                    <p style="margin-top:0px;">Number of Exams taken
                        <strong>: 1</strong>
                    </p>
                </div>
                <div id="profile-markdown4" style="color:#000000;font-size:24px;">
                    <p style="margin-top:0px;">
                        <strong>For results click on below links</strong>
                    </p>
                </div>
                <ion-list id="profile-list7">
                    <ion-item class="item-icon-left" id="profile-list-item10" ui-sref="interactiveQuizApplication.results">
                        <i class="icon ion-ios-folder-outline"></i>Quiz on C</ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>