<ion-view title="Update Profile" id="page12" style="background-color:#999eB0;">
      <div class="background-image-update"></div>
    <ion-content padding="true" class="has-header">
        <form id="updateProfile-form3" class="list">
            <label class="item item-input" id="updateProfile-input6">
                <input type="password" placeholder="password">
            </label>
            <label class="item item-input" id="updateProfile-input7">
                <input type="password" placeholder="confirm password">
            </label>
            <label class="item item-input" id="updateProfile-input8">
                <input type="tel" placeholder="phone number">
            </label>
        </form>
        <a ui-sref="interactiveQuizApplication.profile" id="updateProfile-button7" style="border-radius:24px 24px 24px 24px;" class="button button-dark  button-block">Update</a>
    </ion-content>
</ion-view>